body {
	background-color: #000;
	color: #fff;
	font-family: Arial, sans-serif;
}

#game-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

#title {
	font-size: 36px;
	margin-top: 0;
}

#board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.cell {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
	font-weight: bold;
	cursor: pointer;
	background-color: #222;
	color: #fff;
	margin: 5px;
}

#status-container {
	margin-top: 20px;
}

#status {
	font-size: 18px;
	margin-bottom: 10px;
}

.score {
	margin: 5px;
}

#reset-score {
	background-color: #444;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 10px;
}

#reset-score:hover {
	background-color: #666;
}

#reset-game {
	background-color: #444;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-top: 10px;
}

#reset-game:hover {
	background-color: #666;
}
